Alpha version. Do not create a world you care about with this version, it may break things severely.<br/>
Please help the project by trying it out and <a href="https://github.com/ForestryMC/Binnie/issues">reporting issues here.</a><br/>
{{#tags}}
    <h3>{{name}}</h3>
    <ul>
        {{#commits}}
            <li>{{{message}}} - {{authorName}}</li>
        {{/commits}}
    </ul>
{{/tags}}